extends layout/main.pug
block body
  .page-hero
    .page-hero__logo
    .page-hero__contacts
      p
        a(href="tel:+78129878727").phone-btn #[i.icon-phone]+7 (812) 987-87-27
      p
        a(href="#").text-link ул. Всеволода Вишневского, 3
  .page-about.anchor-indent#about
    .page-about__wrapper
      .page-about__copy
        h2.page-about__heading Спортивный бар на Петроградке.
        p.page-about__text Небольшой бар со спортивными трансляциями на улице Всеволода Вишневского. «Блуждающий форвард» занимает один зал с контактной барной стойкой. За ней бармены миксуют классические коктейли, наливают крепкий алкоголь и крафтовое пиво. Компактное меню включает бутерброды с салом или с селедкой, ассорти жареных колбас, несколько видов бургеров, запеченные ребрышки и другие мясные блюда. По будням действуют комплексные обеды, список блюд в бизнес-ланче обновляется каждую неделю. Регулярно в баре проходят трансляции спортивных матчей.
      .page-about__gallery.carousel(data-loop='true' data-per-page=1)
        div.carousel__track
          .img(style=`background-image: url(${require('./img/page-about/fpeople.jpg')})`)
          .img(style=`background-image: url(${require('./img/page-about/fpeople2.jpg')})`)
          .img(style=`background-image: url(${require('./img/page-about/screen.jpg')})`)
        .carousel__arrows
          button.carousel__arrow.carousel__arrow--left.photo-arrow--left
          button.carousel__arrow.carousel__arrow--right.photo-arrow--right
        .carousel__bullets
  .page-menu.anchor-indent#menu
    .page-menu__header-bg
      h2.page-menu__header Меню

    .nav-tabs
      - const ch = { food: 'food', beer: 'beer',  drinks: 'drinks'}
      .menu-line
        ul.menu-line__inner
          mixin lineItem(icon, text, link, isActive)
            li.menu-line__item.nav-tabs__item(class= isActive ? 'active' : '' data-tab=link)
              a(href=`#${link}`).menu-line__link.nav-tabs__link
                i.menu-line__icon(class=icon)
                span.menu-line__text= text
          +lineItem('icon-fast-food', 'Еда', ch.food, true)
          +lineItem('icon-beer-1', 'Пивo', ch.beer, false)
          +lineItem('icon-wine', 'Алкоголь', ch.drinks, false)
      .nav-tabs__content
        mixin foodItem(item)
          li.food-list__item
            .food-list__item-main
              if item.img
                a(href=item.img data-text=item.name).food-list__photoicon.fullscreen-gallery__link
                  i.icon-camera
              h3.food-list__item-header= item.name
              p.food-list__item-price= item.price
            if item.description
              p.food-list__item-description= item.description
        mixin foodChapter(idName, types, show, only)
          ul.nav-tabs__pane(id= idName, class= show ? 'show active' : '')
            each type in types
              li.food-type.accordion
                button.food-type__button.accordion__handler(class=types.length === 1 ? 'food-type__header--hidden' : '')
                  h2.food-type__header= type.name
                ul.food-list.accordion__item(class= only ? 'no-collapse only' : '')
                  .food-list__wrapper
                    each item in type.items
                      +foodItem(item)
        +foodChapter(ch.food, htmlWebpackPlugin.options.food, true)
        +foodChapter(ch.beer, htmlWebpackPlugin.options.beer, false, true)
        +foodChapter(ch.drinks, htmlWebpackPlugin.options.drinks)
    .page-menu__promocards.carousel(data-loop='true')
      .carousel__track.promocard__wrapper
        // .promocard__wrapper
        .promocard
          img(src='./img/krevetki.jpg').promocard__image
          .promocard__body
            .promocard__price 600
            h3.promocard__header Пинта креветок
            p.promocard__copy Целая пинта тигровых креветок в нашем особом соусе.
        // .promocard__wrapper
        .promocard
          img(src='./img/burger.jpg').promocard__image
          .promocard__body
            .promocard__price 360
            h3.promocard__header Гамбургер
            p.promocard__copy Сочный гамбургер с большой говяжей котлетой.
        // .promocard__wrapper
        .promocard
          img(src='./img/myasnoy-nabor.jpg').promocard__image
          .promocard__body
            .promocard__price 1500
            h3.promocard__header Мясной набор
            p.promocard__copy Хватит на компанию из 3-4 человек, и никто точно не уйдёт голодным.
      .carousel__arrows
        button.carousel__arrow.carousel__arrow--left.photo-arrow--left
        button.carousel__arrow.carousel__arrow--right.photo-arrow--right

  .page-lunch
  nav.site-nav
    img(src=require('./img/forvard_logo_clean_white.png')).site-nav__logo
    .menu-dropdown
      ul.menu-dropdown_item.menu-dropdown__nav-menu
        li: a(href='#').active Главная
        li: a(href='#about') О нас
        li: a(href='#menu') Меню
        li: a(href='#') Бизнес ланч
        li: a(href='#') Контакты
      ul.menu-dropdown_item.menu-dropdown__social-links
        li
          a(href='https://www.instagram.com/lonestrikerbar', target='_blank')
            i.icon-instagram
        li
          a(href='https://vk.com/lonestriker', target='_blank')
            i.icon-vkontakte
        li
          a(href='https://ru.foursquare.com/v/бар-блуждающий-форвард/5a78cd7a8e886a3178bd6f36', target='_blank')
            i.icon-foursquare
    button.menu-toggle.hamburger.hamburger--squeeze
      span.hamburger-box
        span.hamburger-inner
  .fullscreen-gallery
    .fullscreen-gallery__wrapper
      figure.fullscreen-gallery__inner
        img.fullscreen-gallery__img
        figcaption.fullscreen-gallery__figcaption
        .photo-arrow--left
        .photo-arrow--right
    button.fullscreen-gallery__button.hamburger.hamburger--squeeze.is-active
      span.hamburger-box
        span.hamburger-inner

